@import '../../styles.scss';

.mat-mdc-dialog-actions {
    padding-left: 24px;
    padding-bottom: 24px;
}

h1 {
    padding-top: 9px;
}

.dialog-container {
    position:relative;
    mat-progress-bar {
        position: absolute;
        left: -24px;
        width: calc(100% + 24px);
    }
}

