@import '../../styles.scss';
.user-header {
  @include flexParams(flex-end,flex-start);  
  flex-direction: row;
  padding: 16px;
  min-height: 250px;
  background-color: orange;
  color: white;
  >img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.user-details {
    >h2 {
        margin-bottom: 0;
    }
    margin-left: 32px;
    height: 100px;
    @include flexParams(flex-start,center);
    flex-direction: column;

}

.card-menu {
  position: absolute;
  right:16px;
  top:16px;
}